@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #fff;
  scroll-behavior: smooth;
}

html,
body {
  overflow: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
}

.parent {
  overflow-y: scroll;
  height: 100vh;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.scroll {
  height: 100vh;
  scroll-snap-align: start;
}

@media only screen and (max-width: 850px) {
  .parent {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
}

/* NavBar */
.hero-page {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(135deg, #1f2f42 50%, #172331 50%, #172331 65%, #111d27 65%, #111d27 80%, #7ba13e 80%, #7ba13e 100%);
}

header {
  height: 10vh;
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: translate 1s ease-in-out 0.8s forwards;
          animation: translate 1s ease-in-out 0.8s forwards;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav ul :nth-child(1) {
  color: #7ba13e;
}

nav ul li {
  cursor: pointer;
  margin: 0 1rem;
}

header nav {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 25rem;
          flex: 4 1 25rem;
}

#logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#logo span {
  color: #7ba13e;
  font-family: "Hepta Slab", "Poppins";
  -webkit-animation: 2s infinite variation;
          animation: 2s infinite variation;
}

@-webkit-keyframes variation {
  0% {
    font-weight: 100;
    letter-spacing: 10px;
  }
  50% {
    font-weight: 700;
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: 10px;
    font-weight: 1;
  }
}

@keyframes variation {
  0% {
    font-weight: 100;
    letter-spacing: 10px;
  }
  50% {
    font-weight: 700;
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: 10px;
    font-weight: 1;
  }
}

.burger-items {
  display: none;
}

/* Content */
.hero-content {
  width: 97.5%;
  margin: 0 0 0 auto;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content .content {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-animation: translate 1s ease-in-out forwards;
          animation: translate 1s ease-in-out forwards;
}

.hero-content .content,
.hero-content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.hero-content .content h1 {
  color: #7ba13e;
  font-size: 3.5rem;
}

.hero-content .content h4 {
  font-size: 1.5rem;
  margin: 0.6rem 0;
}

.menu {
  margin: 1.5rem 0;
  width: 5.5rem;
  padding: 0.4rem 1.5rem;
  color: #7ba13e;
  background: transparent;
  border: 2px solid #7ba13e;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.content h2 {
  font-size: 2rem;
}

.content h2 span {
  color: #7ba13e;
  display: inline-block;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.content h1 {
  font-size: 2.3rem;
}

.content h1 span {
  color: #7ba13e;
  display: inline-block;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.rubber-band {
  -webkit-animation: rubberband 0.7s forwards;
          animation: rubberband 0.7s forwards;
  cursor: pointer;
}

@-webkit-keyframes rubberband {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1.55, 0.5, 1);
            transform: scale3d(1.55, 0.5, 1);
  }
  40% {
    -webkit-transform: scale3d(1.05, 0.75, 1);
            transform: scale3d(1.05, 0.75, 1);
  }
  70% {
    -webkit-transform: scale3d(1.35, 0.65, 1);
            transform: scale3d(1.35, 0.65, 1);
  }
  90% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberband {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1.55, 0.5, 1);
            transform: scale3d(1.55, 0.5, 1);
  }
  40% {
    -webkit-transform: scale3d(1.05, 0.75, 1);
            transform: scale3d(1.05, 0.75, 1);
  }
  70% {
    -webkit-transform: scale3d(1.35, 0.65, 1);
            transform: scale3d(1.35, 0.65, 1);
  }
  90% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/*image*/
.image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50vh;
  width: 50vw;
  background-image: url("../photos/donut-576139_640.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* social links */
.social {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: translate 1s ease-in-out forwards;
          animation: translate 1s ease-in-out forwards;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0.5 !important;
      -ms-flex: 0.5 !important;
          flex: 0.5 !important;
}

.social .social-links {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .social-links i {
  font-size: 1.4rem;
  padding: 2rem 1rem 0 0;
}

/*intro animation*/
@-webkit-keyframes translate {
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes translate {
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media only screen and (max-width: 840px) {
  #logo {
    text-align: center;
  }
  .image {
    display: none;
  }
  .content h2 span {
    font-size: 1.5rem;
  }
  .content h1 span {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 653px) {
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #logo {
    font-size: 2rem;
    margin-left: 1rem;
    text-align: left;
  }
  .burger {
    cursor: pointer;
    height: 50%;
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .burger span {
    width: 20px;
    height: 3px;
    background: #7ba13e;
    margin: 0.1rem 0;
  }
  nav {
    display: none;
  }
  .burger-items {
    z-index: 3;
    -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.12);
    padding: 5rem 0;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    text-align: right;
    top: 10%;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .burger-items ul li {
    margin: 1rem 0.5rem;
  }
}

/* Category section */
.categories {
  position: relative;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(135deg, #d1d1d1 0%, #d1d1d1 47%, #7ba13e 47%, #7ba13e 100%);
}

.heading {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 90%;
  margin: auto;
  font-size: 2rem;
}

.heading span {
  color: #7ba13e;
}

.categories-cards {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: pointer;
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.items {
  position: relative;
  width: 90%;
  height: 15rem;
  background-attachment: fixed;
  background-position: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.items::after {
  content: "text";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.items:nth-child(1)::after {
  content: "Gifts";
}

.items:nth-child(2)::after {
  content: "Chocolates";
}

.items:nth-child(3)::after {
  content: "Cakes";
}

.items:nth-child(4)::after {
  content: "Flowers";
}

.items:nth-child(5)::after {
  content: "Cakes and Flowers";
}

.items:nth-child(6)::after {
  content: "Cushions";
}

.items:nth-child(7)::after {
  content: "Cards";
}

.items:nth-child(8)::after {
  content: "Bottle messages";
}

.last {
  height: auto;
  min-height: 100vh;
  background: linear-gradient(-135deg, #7ba13e 53%, #444a55 53%);
}

.last-heading {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-heading h1 {
  color: #444a55;
  font-size: 2rem;
}

.latest-cards {
  margin: 0 1rem;
  min-height: 80vh;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(325px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 2rem;
  padding-bottom: 1rem;
}

.card-corusel {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-height: 30vh;
  height: auto;
  overflow: hidden;
}

.card-corusel img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.card-corusel:nth-child(1):hover img,
.card-corusel:nth-child(6):hover img {
  -webkit-transform: translateY(-100%) scale(1.2);
          transform: translateY(-100%) scale(1.2);
}

.card-corusel:nth-child(2):hover img,
.card-corusel:nth-child(4):hover img {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateY(180deg) scale(1.2);
          transform: rotateY(180deg) scale(1.2);
}

@media only screen and (max-width: 563px) {
  .latest-cards {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.description-footer {
  font-family: "Poppins";
  height: auto;
  min-height: 100vh;
  background: linear-gradient(135deg, #7ba13e 47%, #444a55 47%);
}

.description {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
  height: auto;
  min-height: 80vh;
}

.description h1,
.description p {
  color: white;
}

.description h1 {
  font-size: 72px;
  text-align: center;
}

.description h1 + p {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0 3rem 0;
}

.description p {
  font-size: 0.9rem;
}

footer {
  height: 20vh;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h1 {
  text-transform: lowercase !important;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h1 i {
  cursor: pointer;
  padding: 0 1rem;
}

@media only screen and (max-width: 840px) {
  footer {
    height: 10vh;
  }
  footer h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  footer {
    height: 10vh;
  }
  footer h1 {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=style.css.map */